[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:nullmedium/emacs-config.git
	branch = master
